main {
  .section-actualite {
    .actualite {
      background-color: #fb8e00;
      text-align: end;
      font-size: 100px;
    }
  }
  .section-societe {
    .societe {
      background-color: #fb8e00;
      text-align: end;
      font-size: 100px;
    }
  }
  .section-economie {
    .economie {
      background-color: #fb8e00;
      text-align: end;
      font-size: 100px;
    }
  }
}
