.card {
  border: 3px solid red;
  background-color: #f006;
  min-height: 200px;
}

.card-big {
  min-height: 450px;
}

.background-actualite {
  background-color: #fb8e00;
  color: black;
  text-align: end;
  font-size: 110px;
  text-transform: uppercase;
}

.background-societe {
  background-color: #7cd401;
  color: black;
  text-align: end;
  font-size: 110px;
  text-transform: uppercase;
}

.background-economie {
  background-color: #c4007a;
  color: black;
  text-align: end;
  font-size: 110px;
  text-transform: uppercase;
}
